<footer th:fragment="footer" class="footer bg-primary text-white py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0" th:text="#{person.footer.copyright}"></p>
            </div>
            <div class="col-md-6 text-end">
                <div class="social-icons">
                    <a href="#" class="text-white mx-2"><i class="fab fa-telegram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>