<div th:fragment="role-modal">
    <div class="modal fade" id="roleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{role.roles.modal.title}"></h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="roleForm">
                    <div class="modal-body">
                        <input type="hidden" id="roleId">
                        <div class="mb-3">
                            <label th:text="#{role.roleName}"></label>
                            <input type="text" class="form-control" id="roleName" required>

                        </div>
                        <div class="mb-3">
                            <label th:text="#{role.locked}"></label>
                            <input type="text" class="form-control" id="locked" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <span th:text="#{role.roles.cancel}"></span>
                        </button>
                        <button type="submit" id="submitButton" class="btn btn-primary">
                            <span th:text="#{role.roles.save}"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>