<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      dir="ltr"
      th:attr="lang=${#locale.language}, dir=${#locale.language == 'fa' ? 'rtl' : 'ltr'}">
<head >
    <title th:text="#{person.title}"></title>
    <th:block th:replace="~{person/fragments/head-tag :: head-tag}"></th:block>
</head>
<body data-bs-theme="light">
<!-- نوار بالایی -->
<div th:replace="~{person/fragments/header :: header}"></div>

<!-- سایدبار -->
<div th:replace="~{person/fragments/person-sidebar :: sidebar}"></div>

<!-- محتوای اصلی -->
<main class="main-content">
    <div class="container-fluid p-2">
        <!-- در بخشی از صفحه که همیشه وجود دارد -->
        <div id="deleteConfirmText" style="display: none;" th:text="#{persons.delete.confirm}"></div>
        <!-- فرگمنت جدول مشتریان -->
        <div id="persons-table-container">
            <div th:replace="~{person/fragments/persons-table :: persons-table}"></div>
        </div>
    </div>
</main>

<!-- فوتر -->
<div th:replace="~{person/fragments/footer :: footer}"></div>

<!-- مودال افزودن/ویرایش مشتری -->
<div th:replace="~{person/fragments/persons-modal :: person-modal}"></div>

<!-- اسکریپت‌ها -->
<th:block th:replace="~{person/fragments/scripts :: scripts}"></th:block>
<script th:src="@{/js/person.js}"></script>
</body>
</html>