<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="fa"
      dir="rtl"
      th:attr="lang=${#locale.language}, dir=${#locale.language == 'fa' ? 'rtl' : 'ltr'}">
<head >
  <title th:text="#{role.dashboard.title}"></title>
  <th:block th:replace="~{role/fragments/head-tag :: head-tag}"></th:block>
</head>
<body data-bs-theme="light">
<!-- نوار بالایی -->
<div th:replace="~{role/fragments/header :: header}"></div>

<!-- سایدبار -->
<div th:replace="~{role/fragments/sidebar :: sidebar}"></div>

<!-- محتوای اصلی -->
<main class="main-content">
  <div class="container-fluid p-2">
    <!-- در بخشی از صفحه که همیشه وجود دارد -->
    <div id="roles-table-container">
      <div> محتوای اصلی</div>
    </div>
  </div>
</main>

<!-- فوتر -->
<div th:replace="~{role/fragments/footer :: footer}"></div>

<!-- اسکریپت‌ها -->
<th:block th:replace="~{role/fragments/scripts :: scripts}"></th:block>
</body>
</html>